.btn {
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bolder;
    outline: none;
    background-color: #309EC2;
    color: #203A58;
    width: 80px;
    height: 40px;
}

.btn:active {
    outline: none;
    background-color: #203A58;
    border: #309EC2 1px solid;
    color: #309EC2;
}

.btn:disabled,
.btn[disabled] {
    background-color: #FF5D5D;
}

.btn:disabled:active {
    background-color: #FF5D5D;
    color: #203A58;
    border: none;
}